<!-- start custom head snippets -->
<script data-ad-client="ca-pub-1528085389641505" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<link rel="stylesheet" href="{{ site.baseurl }}/css/font-awesome.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/earlyaccess/jejugothic.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/earlyaccess/nanumgothic.css">
<!-- insert favicons. use https://realfavicongenerator.net/ -->

<!-- end custom head snippets -->


