<!-- start custom head snippets -->
<link rel="stylesheet" href="{{ site.baseurl }}/css/font-awesome.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/earlyaccess/jejugothic.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/earlyaccess/nanumgothic.css">
<!-- insert favicons. use https://realfavicongenerator.net/ -->

<!-- end custom head snippets -->

body {
    font-family: 'Nanum Gothic Coding', serif;
}


div {
    article{
        h2{
            a{
                font-family: 'Nanum Gothic Coding', serif;
            }
        }
    }
}

article{
    div{
        header{
            h1{
                font-family: 'Nanum Gothic Coding', serif;
            }
        }
    }
}
article{
    div{
        section{
            h2{
                font-family: 'Nanum Gothic Coding', serif;
            }
        }
    }
}
div{
    article{
        div{
            a{
                font-family: 'Nanum Gothic Coding', serif;
            }
        }
    }
}
